<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <!-- The JS file for this HTML file -->
        <script src="/Smart_Blinds/server/public/Home.js" defer></script>
        <!-- The CSS file for this HTML file 
        <link rel="stylesheet" href="public/Landing_Page.css"> -->
    </head>
    <body>
        <header id="Intro"></header>
        <div id="Product-Container">

        </div>
        <button id="Add-Product">Add Product</button>
        <div id="Form-Container">
            
        </div>
    </body>
</html>