<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <!-- The JS file for this HTML file -->
        <script src="/Smart_Blinds/server/public/Home.js" defer></script>
        <!-- The CSS file for this HTML file  -->
        <link rel="stylesheet" href="/Smart_Blinds/server/public/style.css">
    </head>
    <body>
        <a href="http://localhost:8000/login/">Sign Out</a> <br><br>
        <header id="Intro"></header>
        <div id="Product-Container" hidden="true">

        </div><br>
        <button id="Add-Product">Add Product</button>
        <button id="Delete-Product">Delete Product</button>
    </body>
</html>