<!DOCTYPE html>
<html>
    <head>
        <title>Smart Blinds</title>
        <!-- The JS file for this HTML file -->
        <script src="/Smart_Blinds/server/public/Landing_Page.js" defer></script>
        <!-- The CSS file for this HTML file 
        <link rel="stylesheet" href="public/Landing_Page.css"> -->
    </head>
    <body>
        <header>Welcome to Smart Blinds!</header>
        <a href="http://localhost:8000/login/">Sign In Now</a>&Tab;
        <a href="http://localhost:8000/register/">Register Now</a>
    </body>
</html>