<!DOCTYPE html>
<html>
    <head>
        <title>Product</title>
        <!-- The JS file for this HTML file -->
        <script src="/Smart_Blinds/server/public/Product.js" defer></script>
        <!-- The CSS file for this HTML file 
        <link rel="stylesheet" href="public/Landing_Page.css"> -->
    </head>
    <body>
        <header id="Title"></header>
        <button id="State"></button>
        <button id="Add_Button">Add</button>
        <div id="Schedule_List"></div>
    </body>
</html>