<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <!-- The JS file for this HTML file -->
        <script src="public/Register.js"></script>
        <!-- The CSS file for this HTML file 
        <link rel="stylesheet" href="public/Landing_Page.css"> -->
    </head>
    <body>
        <header>Register below!</header>
        <form id="Register-Form">
            <label for="Email">Email: </label>
            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Please input an email such as jdoe@ucsd.edu" required/><br>
            <label for="Username">Username: </label>
            <input type="text" pattern="[a-zA-Z0-9]{5,20}" title="Username can only be at between 5-20 characters long and may only include letters and numbers." required>/><br>
            <label for="Password">Password:</label>
            <input type="text" id="Password" name="Password" pattern="(?=.*\d)(?=.*[a-zA-Z])[a-zA-Z\d]{8,}" title="Please have at least 1 digit and only letters in your password and at least 8 characters." required> <br>
            <input type="submit">
        </form>
        <a href="http://localhost:8000/">Welcome Page</a>
        <a href="http://localhost:8000/register/">Register Now</a>
    </body>
</html>
